@use '_colors.scss' as c;
@use '_fonts.scss' as f;

h1{
    color: c.$fontcolor-primary;
    font-family: f.$heading-primary;
    font-weight: 700;
    font-size: 25px;
}

h2{
    color: c.$fontcolor-primary;
    font-family: f.$heading-primary;
    font-weight: 700;
    font-size: 20px;
}

h3{
    color: c.$fontcolor-primary;
    font-family: f.$heading-secondary;
    font-size: 24px;
    font-weight: bold;
}

h4{
    color: c.$fontcolor-primary;
    font-family: f.$heading-primary;
    font-size: 20px;
    font-weight: bold;
}

h5{
    color: c.$fontcolor-primary;
}

p{
    color: c.$fontcolor-primary;
    font-family: f.$heading-secondary;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    color: c.$fontcolor-secondary;
    background-color: c.$backgroundcolor-primary;
}

@media (min-width: 800px) {

    h1{
        font-family: 'Museo', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }

    h2{
        font-family: 'Museo', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }

    h3{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }

    p{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
    }
}