@use'_colors.scss' as c;
@use'_fonts.scss' as f;

h1{
    color: c.$primary-fontcolor;
}

h3{
    color: c.$primary-fontcolor;
}

h4{
    color: c.$primary-fontcolor;
    font-family: f.$heading-primary;
    font-size: 20px;
    font-weight: bold;
}

h5{
    color: c.$primary-fontcolor;
}

p{
    color: c.$secondary-fontcolor;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    color: c.$secondary-fontcolor;
    background-color: c.$primary-backgroundcolor;
}

@media (min-width: 800px) {
    body{
        color: red;
    }

    h1{
        font-family: 'Museo', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }

    h2{
        font-family: 'Museo', sans-serif;
        font-weight: 700;
        font-size: 48px;
    }

    h3{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
    }

    p{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
    }

}