@use '_headings.scss';
@use '_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: c.$backgroundcolor-primary;
}

button {
    color: c.$fontcolor-secondary;
    background-color: c.$primary-color;
    padding: 20px 10px;
    border: none;
}

//*******MOBILE*******

// Navbar

nav {
    background-color: c.$primary-color;
    font-family: f.$heading-secondary;
    display: flex;
    justify-content: space-between;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style-type: none;
    }

    #menu-logo {
        padding: 15px;

        img {
            display: block;
            height: 35px;
        }
    }


    #menu-items-desktop {
        display: none;
    }

    #menu-items-mobile {
        display: flex;
        align-items: center;

        #menu-icons {
        display: flex;
        align-items: center;
        padding-right: 15px;

        li {
            padding: 15px;
        }

        #burgermenu {
            padding: 0;
        }
        }
    }

    

    #katalog-dropdown {
            position: absolute;
            z-index: 10;
            background-color: #fff;
            color: c.$fontcolor-primary;
            top: 100%;
            width: 100%;

            .dropdown-kategori {
                padding: 20px;

                .kategori-navn {
                    font-weight: 700;
                    font-size: 18px;
                    padding: 5px;
                    margin-bottom: 10px;
                }

                .kategori-link {
                    padding: 5px;
                }
            }

        }
}








// Herobanner

.herosection{
    color: red;
    video{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}


/* --- Video container --- */
#videoContainer {
  position: relative;        /* gør det muligt at placere knappen ovenpå videoen */
  display: inline-block;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* --- Selve videoen --- */
#videoContainer video {
  width: 100%;
  height: auto;
  display: block;
}

/* --- Custom controls container --- */
#videoContainer .controls {
  position: absolute;
  bottom: 20px;              /* afstand fra bunden (kan justeres) */
  left: 20px;                /* afstand fra venstre (kan justeres) */
  z-index: 10;               /* sørger for knappen er ovenpå video */
}

/* --- Play/pause-knap --- */
#videoContainer .controls button {
  background: rgba(0, 0, 0, 0.6);   /* semitransparent sort baggrund */
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  backdrop-filter: blur(3px);       /* gør knappen flot hvis browseren understøtter det */
  transition: background 0.2s, transform 0.15s;
}

/* Hover-effekt */
#videoContainer .controls button:hover {
  background: rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

/* Aktiv effekt */
#videoContainer .controls button:active {
  transform: scale(0.95);
}











// side intro
.landingpagesection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

// her kommer åbningstider
.aabningstidersection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    h4{
        padding: 5px 0px;
    }
    .kontaktoplysninger{
        margin: 20px 0px;
    }
    
    button{ 
        margin: 20px 0px;

    }
}
// her er dividerimage
.dividerimage{
    color: red;
    img{
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
}


    // her kommer arrangementer
.arrangement{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    img {
        height: 200px;
    }

    p{
        padding: 20px 0px;
    }
}

    // her kommer karussel

.carrusel{
    background-color: red;
}

footer{
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 25px;
        list-style: none;
    }

    .footerbanner{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    ul{
        padding: 25px 0px 25px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 10px 0px;
        }
    }

    .some{
        margin: 20px 0px;
    }

    .logo{
        margin: 20px 50px 20px 0px;
    }

    p{
        font-family: f.$heading-secondary;
        font-size: 12px;
    }
}



//*******DESKTOP*******

@media (min-width: 800px) {

// Navbar

    nav {
        display: flex;
        justify-content: space-between;


        #menu-logo {
            padding: 15px;

            img {
            height: 50px;
            }
            
        }

        #menu-items-mobile {
            display: none;
        }

        #menu-items-desktop {
            display: flex;
            align-items: center;

            #menu-punkter {
            display: flex;
            align-items: center;


                li, #katalog-knap {
                    font-size: 18px;
                    font-weight: 700;
                    padding: 10px 20px;
                }

                #katalog-knap {
                    font-family: inherit;
                    padding: 0;
                    cursor: pointer;
                }

                
            }

            #menu-icons {
                display: flex;
                padding-right: 20px;
                padding-left: 50px;

                li {
                    padding: 10px;
                }
            }
        }

        #katalog-dropdown {
            display: flex;
            left: 25%;
            width: inherit;

            .dropdown-kategori {
                padding: 20px;

                .kategori-navn {
                    font-weight: 700;
                    padding: 5px;
                }

                .kategori-link {
                    padding: 5px;
                }
            }

        }


        
    }







    // Herobanner

    .herosection{
        color: red;
        img{
            width: 100%;
            height: 200px;
        }
    }

    .landingpagesection{
        width: 90%;
    }

    // sideintro
    .aabningstidersection{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        .grouping{
            color: red;
            button{
                color: red;
                margin: 20px 0px;
                padding: 20px;
            }
        }
        img{
                width: 650px;
                height: auto;
        } 
    }

    // her kommer åbningstider
    .section{
        width: 325px;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    // her er dividerimage
    .dividerimage{
        color: red;
        img{
            height: 100px;
            width: 100%;
            object-fit: cover;
        }
    }


        // her kommer arrangementer

    .row{
        display: flex;
    }
    .arrangement{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        img {
            height: auto;
        }

        p{
            padding: 20px 0px;
        }
    }

    footer{
        color: #fff;

        .footercontent{
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 20px;

            .footerright{
                display: flex;
                justify-content: flex-start;
            }

            .footerleft{
                display: flex;
                justify-content: flex-end;
            }

            .footerelements:nth-child(1){
                order: 3;
            }
            .footerelements:nth-child(2){
                order: 1;
            }
            .footerelements:nth-child(3){
                order: 4;
            }
            .footerelements:nth-child(4){
                order: 2;
            }
            .footerelements:nth-child(5){
                order: 0;
            }
        }
    }
}