@use '_headings.scss';
@use '_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: c.$backgroundcolor-primary;
}

button{
    color: c.$fontcolor-secondary;
    background-color: c.$button-backgroundcolor;
    padding: 20px 10px;
    border: none;
}

// Navbar

nav {
    display: flex;

    #menu-punkter {
        display: flex;

        li {
            padding: 20px;
        }
    }

    #menu-icons {
        display: flex;
    }
}








// Herobanner

.herosection{
    color: red;
    video{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
}

// side intro
.landingpagesection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

// her kommer åbningstider
.aabningstidersection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    h4{
        padding: 5px 0px;
    }
    .kontaktoplysninger{
        margin: 20px 0px;
    }
    
    button{ 
        margin: 20px 0px;

    }
}
// her er dividerimage
.dividerimage{
    color: red;
    img{
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
}


    // her kommer arrangementer
.arrangement{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    img {
        height: 200px;
    }

    p{
        padding: 20px 0px;
    }
}

    // her kommer karussel

.carrusel{
    background-color: red;
}

footer{
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 25px;
        list-style: none;
    }

    .footerbanner{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    ul{
        padding: 25px 0px 25px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 10px 0px;
        }
    }

    .some{
        margin: 20px 0px;
    }

    .logo{
        margin: 20px 50px 20px 0px;
    }

    p{
        font-family: f.$heading-secondary;
        font-size: 12px;
    }
}

@media (min-width: 800px) {

    // Navbar

nav {
    display: flex;

    #menu-punkter {
        display: flex;

        li {
            padding: 20px;
        }
    }

    #menu-icons {
        display: flex;
    }
}







    // Herobanner

    .herosection{
        color: red;
        img{
            width: 100%;
            height: 200px;
        }
    }

    .landingpagesection{
        width: 90%;
    }

    // sideintro
    .aabningstidersection{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        .grouping{
            color: red;
            button{
                color: red;
                margin: 20px 0px;
                padding: 20px;
            }
        }
        img{
                width: 650px;
                height: auto;
        } 
    }

    // her kommer åbningstider
    .section{
        width: 325px;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    // her er dividerimage
    .dividerimage{
        color: red;
        img{
            height: 100px;
            width: 100%;
            object-fit: cover;
        }
    }


        // her kommer arrangementer

    .row{
        display: flex;
    }
    .arrangement{
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
        img {
            height: auto;
        }

        p{
            padding: 20px 0px;
        }
    }

    footer{
        color: #fff;

        .footercontent{
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 20px;

            .footerright{
                display: flex;
                justify-content: flex-start;
            }

            .footerleft{
                display: flex;
                justify-content: flex-end;
            }

            .footerelements:nth-child(1){
                order: 3;
            }
            .footerelements:nth-child(2){
                order: 1;
            }
            .footerelements:nth-child(3){
                order: 4;
            }
            .footerelements:nth-child(4){
                order: 2;
            }
            .footerelements:nth-child(5){
                order: 0;
            }
        }
    }
}