@use '_headings.scss';
@use '_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: c.$backgroundcolor-primary;
}

button {
    color: c.$fontcolor-secondary;
    background-color: c.$primary-color;
    font-family: f.$heading-secondary;
    font-weight: 700;
    padding: 15px 30px;
    border: none;
}

button:hover {
    background-color: c.$secondary-color;
}


//*******MOBILE*******

button {
    font-size: 15px;
}

// Navbar

nav {
    background-color: c.$primary-color;
    font-family: f.$heading-secondary;
    display: flex;
    justify-content: space-between;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        list-style-type: none;
    }

    #menu-logo {
        padding: 15px;

        img {
            display: block;
            height: 35px;
        }
    }


    #menu-items-desktop {
        display: none;
    }

    #menu-items-mobile {
        display: flex;
        align-items: center;

        #menu-icons {
        display: flex;
        align-items: center;
        padding-right: 15px;

        li {
            padding: 15px;
        }

        #burgermenu {
            padding: 0;
        }

        #burgermenu:hover {
            background-color: c.$primary-color;
        }
        }
    }

    

    #katalog-dropdown {
            position: absolute;
            z-index: 50;
            background-color: #fff;
            color: c.$fontcolor-primary;
            top: 100%;
            width: 100%;
            max-height: 100vh;
            overflow: auto;
            box-shadow: 3px 3px 7px 2px rgba($color: #000000, $alpha: 0.3);
            padding: 10px;

            .dropdown-kategori {
                padding: 20px;

                .kategori-navn {
                    font-weight: 700;
                    font-size: 18px;
                    padding: 5px;
                    margin-bottom: 10px;
                }

                .kategori-link {
                    padding: 7px;
                    padding-left: 20px;
                }
            }
            .divider-line {
                margin-left: 20px;
                margin-right: 20px;
            }

        }
}


//herovideo

.herovideo{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    video{
        width: 100%;
        height: auto;
        display: block;
    }
    .controls{
        position: absolute;
        bottom: 20px;
        right: 30px;
        z-index: 11;
        button{ 
            background: none;
            padding: 20px 20px;
            border: 3px solid #fff;
            border-radius: 40px;
            font-size: 18px;
            cursor: pointer;
        }
    }
}

// side intro
.landingpagesection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
}

// her kommer åbningstider
.aabningstidersection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    h4{
        padding: 5px 0px;
    }
    .kontaktoplysninger{
        margin: 20px 0px;
    }
    
    button{ 
        margin: 20px 0px;

    }
}
// her er dividerimage
.dividerimage{
    color: red;
    img{
        height: 100px;
        width: 100%;
        object-fit: cover;
    }
}


    // her kommer arrangementer

.arrangementsection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    .individualarrangements{
        img {
            height: 200px;
        }

        p{
            padding: 20px 0px;
        }
    }
}

    // her kommer karussel

.carruselsection{
    width: 325px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    .kunstnere{
        background-color: red;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        li{
            list-style: none;
            padding: 100px;
            background-color: greenyellow;
        }
    }
}

footer{
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 25px;
        list-style: none;
    }

    .footerbanner{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    ul{
        padding: 25px 0px 25px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 10px 0px;
        }
    }

    .some{
        margin: 20px 0px;
    }

    .logo{
        margin: 20px 50px 20px 0px;
    }

    p{
        font-family: f.$heading-secondary;
        font-size: 12px;
    }
}



//*******DESKTOP*******

@media (min-width: 800px) {


button {
    font-size: 16px;
}

// Navbar

    nav {
        display: flex;
        justify-content: space-between;


        #menu-logo {
            padding: 15px 15px 15px 30px;

            img {
            height: 50px;
            }
            
        }

        #menu-items-mobile {
            display: none;
        }

        #menu-items-desktop {
            display: flex;
            align-items: center;

            #menu-punkter {
            display: flex;
            align-items: center;


                li, #katalog-knap {
                    font-size: 18px;
                    font-weight: 700;
                    padding: 10px 20px;
                }

                #katalog-knap {
                    font-family: inherit;
                    padding: 0;
                    cursor: pointer;
                }

                #katalog-knap:hover {
                    background-color: c.$primary-color;
                }

                
            }

            #menu-icons {
                display: flex;
                padding-right: 20px;
                padding-left: 50px;

                li {
                    padding: 10px;
                }
            }
        }

        #katalog-dropdown {
            display: flex;
            left: 25%;
            width: inherit;

            .dropdown-kategori {
                padding: 20px;
                

                .kategori-navn {
                    font-weight: 700;
                    padding: 5px;
                }

                .kategori-link {
                    padding: 5px;

                    a:hover {
                        text-decoration: underline;
                    }
                }

            }

            

            .divider-line {
                display: none;
            }

        }


        
    }


.herovideo{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    video{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        display: block;
    }
    .controls{
        position: absolute;
        bottom: 20px;
        right: 30px;
        z-index: 11;
        button{ 
            background: none;
            padding: 20px 20px;
            border: 3px solid #fff;
            border-radius: 40px;
            font-size: 18px;
            cursor: pointer;
            transition: background 0.2s, transform 0.15s;
        }
    }
}

    .landingpagesection{
        width: 90%;
    }

    // sideintro
    .aabningstidersection{
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        .grouping{
            color: red;
            button{
                
                margin: 20px 0px;
                padding: 20px;
            }
        }
        img{
                width: 650px;
                height: auto;
        } 
    }

    // her kommer åbningstider
    .section{
        width: 325px;
        display: flex;
        flex-direction: column;
        margin: 40px auto;
    }

    // her er dividerimage
    .dividerimage{
        color: red;
        img{
            height: 100px;
            width: 100%;
            object-fit: cover;
        }
    }


        // her kommer arrangementer
        
    .arrangementsection{
        width: 90%;
        

        .row{
            display: flex;
            flex-wrap: wrap;
        }

        
        .individualarrangements{
            width: 400px;
            display: flex;
            flex-direction: column;
            margin: 20px auto;
            img {
                height: auto;
            }

            p{
                padding: 20px 0px;
            }
        }
    }

    .carruselsection{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    .kunstnere{
        background-color: c.$backgroundcolor-primary;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        li{
            list-style: none;
            padding: 100px;
            background-color: greenyellow;
        }
    }
}

    footer{
        
        .footercontent{
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 20px;
            width: 90%;

            .footerright{
                display: flex;
                justify-content: flex-start;
            }

            .footerleft{
                display: flex;
                justify-content: flex-end;
            }

            .footerelements:nth-child(1){
                order: 3;
            }
            .footerelements:nth-child(2){
                order: 1;
            }
            .footerelements:nth-child(3){
                order: 4;
            }
            .footerelements:nth-child(4){
                order: 2;
            }
            .footerelements:nth-child(5){
                order: 0;
            }
        }
    }


    //OM OS

    .section-wrapper {
        width: 75%;
        margin: 150px auto;
    }

    .image-wrapper {
        width: 100%;
        margin: 100px auto;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .left {
        left: 2.5%;
    }

    .right {
        right: 2.5%;
    }

    .paragraf {
        margin-top: 20px;
    }

    .heading {
        margin-top: 50px;
    }

    .section-dual {
        display: flex;
        align-items: center;
        padding-top: 50px;

        .heading {
            margin-top: 0;
        }

        button {
            margin-top: 20px;
        }
    }


    .kunstner-quadruple {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-left: 150px;
        height: 300px;

        img {
            height: 150px;
            width: 150px;
            display: block;
            
        }
    }

    .section-right {
        margin-left: 150px;
    }

    .section-left {
        margin-right: 150px;
    }

    .aabningstider-billede {

        img {
            height: 100%;
            width: 500px;
        }
        
    }

}