@use'_colors.scss' as c;
@use'_fonts.scss' as f;

footer{
    color: c.$fontcolor-secondary;
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
        font-family: f.$heading-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }


}