@use '_headings.scss';
@use '_colors.scss' as c;
@use '_fonts.scss' as f;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    // her kommer arrangementer
.arrangement{
    img{
        height: 200px;
    }
}

    // her kommer karussel

footer{
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 100px;
        padding-bottom: 25px;
        list-style: none;

    }

    .footerbanner{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    ul{
        padding: 25px 0px 25px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 10px 0px;
        }
    }

    .some{
        margin: 20px 0px;
    }

    .logo{
        margin: 20px 50px 20px 0px;
    }

    p{
        font-family: f.$heading-secondary;
        font-size: 12px;
    }
}

@media (min-width: 800px) {
    body{
        color: blue;
    }

    footer{
        .footercontent{
            flex-direction: row;
            .footerelements:nth-child(1){
                order: 3;
            }
            .footerelements:nth-child(2){
                order: 1;
            }
            .footerelements:nth-child(3){
                order: 4;
            }
            .footerelements:nth-child(4){
                order: 2;
            }
            .footerelements:nth-child(5){
                order: 0;
            }
        }
    }
}