@use'_colors.scss' as c;
@use'_fonts.scss' as f;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    color: c.$fontcolor-secondary;
    background-color: c.$footer-backgroundcolor;

    h4{
        color: c.$fontcolor-secondary;
        font-family: f.$heading-primary;
    }

    li{
        color: c.$fontcolor-secondary;
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
    }

    .footercontent{
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        padding-top: 100px;
        list-style: none;

    }

    .footerbanner{
        background-color: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    ul{
        padding: 25px 0px 25px 0px;
        list-style: none;

        li{
            font-size: 16px;
            padding: 5px;
        }
    }

    .some{
        margin: 20px 0px;
    }

    .some font-awesome-icon {
        font-size: 100px;
        margin: 0 10px;
    }


    .logo{
        margin: 20px 50px 20px 0px;
    }
}